<a href="https://colab.research.google.com/github/mohammadmujib/rookie-hacks/blob/master/pandass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import datetime

In [0]:
df = pd.read_csv("hdfc.csv")

In [3]:
print(df.dtype)

AttributeError: ignored

In [4]:
df

       SYMBOL INTERVAL  ...      CLOSE        VOLUME
0     HDFC.NS        D  ...     2.7100  9.000000e+04
1     HDFC.NS        D  ...     2.6510  2.000000e+04
2     HDFC.NS        D  ...     2.7750  7.000000e+04
3     HDFC.NS        D  ...     2.8000  1.000000e+04
4     HDFC.NS        D  ...     2.7675  4.000000e+04
...       ...      ...  ...        ...           ...
6346  HDFC.NS        D  ...  1570.4000  1.242843e+07
6347  HDFC.NS        D  ...  1623.7000  1.026203e+07
6348  HDFC.NS        D  ...  1658.9000  1.380910e+07
6349  HDFC.NS        D  ...  1737.7000  8.056778e+06
6350  HDFC.NS        D  ...  1757.5000  1.747680e+06

[6351 rows x 8 columns]

In [0]:
DF = df.drop(['SYMBOL','INTERVAL'],axis=1)

In [6]:
DF

                       DATE     OPEN  ...      CLOSE        VOLUME
0        11/3/1994 00:00:00     2.70  ...     2.7100  9.000000e+04
1        11/7/1994 00:00:00     2.67  ...     2.6510  2.000000e+04
2        11/8/1994 00:00:00     2.75  ...     2.7750  7.000000e+04
3       11/10/1994 00:00:00     2.80  ...     2.8000  1.000000e+04
4       11/11/1994 00:00:00     2.75  ...     2.7675  4.000000e+04
...                     ...      ...  ...        ...           ...
6346  5/27/2020 12:00:00 AM  1513.00  ...  1570.4000  1.242843e+07
6347  5/28/2020 12:00:00 AM  1580.00  ...  1623.7000  1.026203e+07
6348  5/29/2020 12:00:00 AM  1615.90  ...  1658.9000  1.380910e+07
6349      6/1/2020 00:00:00  1706.60  ...  1737.7000  8.056778e+06
6350      6/2/2020 00:00:00  1737.70  ...  1757.5000  1.747680e+06

[6351 rows x 6 columns]

In [13]:
DF['DATE']

0      1994-11-03
1      1994-11-07
2      1994-11-08
3      1994-11-10
4      1994-11-11
          ...
6346   2020-05-27
6347   2020-05-28
6348   2020-05-29
6349   2020-06-01
6350   2020-06-02
Name: DATE, Length: 6351, dtype: datetime64[ns]

In [0]:
DF['DATE'] = pd.to_datetime(DF['DATE'])

In [14]:
DF

           DATE     OPEN      HIGH       LOW      CLOSE        VOLUME
0    1994-11-03     2.70     2.750     2.675     2.7100  9.000000e+04
1    1994-11-07     2.67     2.670     2.651     2.6510  2.000000e+04
2    1994-11-08     2.75     2.775     2.750     2.7750  7.000000e+04
3    1994-11-10     2.80     2.800     2.800     2.8000  1.000000e+04
4    1994-11-11     2.75     2.775     2.750     2.7675  4.000000e+04
...         ...      ...       ...       ...        ...           ...
6346 2020-05-27  1513.00  1578.000  1490.000  1570.4000  1.242843e+07
6347 2020-05-28  1580.00  1643.800  1577.000  1623.7000  1.026203e+07
6348 2020-05-29  1615.90  1676.350  1590.900  1658.9000  1.380910e+07
6349 2020-06-01  1706.60  1764.850  1701.300  1737.7000  8.056778e+06
6350 2020-06-02  1737.70  1783.800  1732.150  1757.5000  1.747680e+06

[6351 rows x 6 columns]

In [0]:
DF.to_csv('HDFC.csv',index=False)