<a href="https://colab.research.google.com/github/mohammadmujib/rookie-hacks/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
import backtrader as bt

ModuleNotFoundError: ignored

In [3]:
pip install backtrader

Collecting backtrader
  Downloading https://files.pythonhosted.org/packages/b6/fe/7d61fd1b4fa367f9cd0a8bdd3ef45f7486374b5234d898cf439a097885f8/backtrader-1.9.75.123-py2.py3-none-any.whl (409kB)
     |████████████████████████████████| 419kB 2.7MB/s
Installing collected packages: backtrader
Successfully installed backtrader-1.9.75.123

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib) (1.12.0)

In [0]:
hdfc = pd.read_csv("HDFC.csv")

In [6]:
hdfc

       SYMBOL INTERVAL  ...      CLOSE        VOLUME
0     HDFC.NS        D  ...     2.7100  9.000000e+04
1     HDFC.NS        D  ...     2.6510  2.000000e+04
2     HDFC.NS        D  ...     2.7750  7.000000e+04
3     HDFC.NS        D  ...     2.8000  1.000000e+04
4     HDFC.NS        D  ...     2.7675  4.000000e+04
...       ...      ...  ...        ...           ...
6346  HDFC.NS        D  ...  1570.4000  1.242843e+07
6347  HDFC.NS        D  ...  1623.7000  1.026203e+07
6348  HDFC.NS        D  ...  1658.9000  1.380910e+07
6349  HDFC.NS        D  ...  1737.7000  8.056778e+06
6350  HDFC.NS        D  ...  1757.5000  1.747680e+06

[6351 rows x 8 columns]

In [0]:
data=hdfc.drop(['SYMBOL','INTERVAL'],axis=1)

In [11]:
data

                       DATE     OPEN  ...      CLOSE        VOLUME
0        11/3/1994 00:00:00     2.70  ...     2.7100  9.000000e+04
1        11/7/1994 00:00:00     2.67  ...     2.6510  2.000000e+04
2        11/8/1994 00:00:00     2.75  ...     2.7750  7.000000e+04
3       11/10/1994 00:00:00     2.80  ...     2.8000  1.000000e+04
4       11/11/1994 00:00:00     2.75  ...     2.7675  4.000000e+04
...                     ...      ...  ...        ...           ...
6346  5/27/2020 12:00:00 AM  1513.00  ...  1570.4000  1.242843e+07
6347  5/28/2020 12:00:00 AM  1580.00  ...  1623.7000  1.026203e+07
6348  5/29/2020 12:00:00 AM  1615.90  ...  1658.9000  1.380910e+07
6349      6/1/2020 00:00:00  1706.60  ...  1737.7000  8.056778e+06
6350      6/2/2020 00:00:00  1737.70  ...  1757.5000  1.747680e+06

[6351 rows x 6 columns]